@media (max-width: 768px) {
	/* показываем кнопку для переключения верхней навигации */
	.nav-toggle {
		display: block;
	}
	header {
		padding: 10px 0;
	}
	/* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */
	#menu {
		max-height: 0;
		background: #004483;
		float: none;
		position: absolute;
		overflow: hidden;
		top: 61px;
		right: 0;
		left: 0;
		margin: 0;
		padding: 0;
		z-index: 3;
	}
	/* делаем элементы списка блочными, чтобы они располагались друг под другом */
	#menu li {
		display: block;
		text-align: center;
		border-bottom: 1px solid #fff;
		margin-right: 0;
	}
}

@media (max-width: 480px) {
	/* отменяем обтекание для логотипа и выравниваем по центру*/
	.logo {
		float: none;
		margin: 0 auto 15px;
		display: table;
	}
	.logo span {
		margin: 0 2px;
	}
	/* позиционируем меню на увеличившуюся высоту шапки */
	#menu {
		top: 118px;
	}
}

@media  (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
	.product{
		height: 259px;
		width: 227px;
		margin: 0 20px 20px 0;
	}
}

@media (min-width: 768px) {
	.product-wrapper {
		width: 33.33333%;
	}
	.product{
		height: 265px;
		width: 233px;
		margin: 0 20px 20px 0;

	}
}

@media (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
	.product{
		height: 250px;
		width: 218px;
		margin: 0 20px 20px 0;
	}
}