*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: .5s ease-in-out;
	/* добавим плавность переходов для всех элементов страницы*/
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

img {
	display: block;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: normal;
	letter-spacing: 1px;
}

body {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 14px;
	line-height: 1;
	color: #373737;
	background: #f7f7f7;
}


/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */

header:after,
.container:after,
footer:after,
.widget-posts-list li:after,
#subscribe:after {
	content: "";
	display: table;
	clear: both;
}


/* стилевой класс, который управляет шириной контейнера сетки*/

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	padding: 0 15px;
}


/* шапка */

header {
	width: 100%;
	background: #004483;
	box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
	padding: 15px 0;
	margin-bottom: 30px;
	position: relative;
}


/* логотип */

.logo {
	display: block;
	float: left;
}


/* меню */

#menu {
	float: right;
}

#menu li {
	display: inline-block;
	margin-right: 30px;
}

#menu a {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	display: block;
	line-height: 40px;
}

#menu a:hover {
	color: #ae9e62;
}

#menu li:last-child {
	margin-right: 0;
}


/* кнопка переключения меню, появляющаяся при ширине 768px */

.nav-toggle {
	display: none;
	position: relative;
	float: right;
	width: 40px;
	height: 40px;
	margin-left: 20px;
	cursor: pointer;
}

.nav-toggle span {
	display: block;
	position: absolute;
	top: 19px;
	left: 8px;
	right: 8px;
	height: 2px;
	background: white;
}

.nav-toggle span:before,
.nav-toggle span:after {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	background: white;
}

.nav-toggle span:before {
	top: -10px;
}

.nav-toggle span:after {
	bottom: -10px;
}


/* класс, который будет добавлен в верхнему меню при нажатии на кнопку и покажет скрытое меню*/

#menu.active {
	max-height: 205px;
}


/*footer*/

footer {
	padding: 30px 0;
	background: #3C3D41;
	color: white;
}

.footer-col {
	width: 33.3333333333%;
	float: left;
}

.footer-col-center {
	width: 33.3333333333%;
	float: left;
	text-align: center;
}

.footer-col a {
	color: white;
}

.footer-col:last-child {
	text-align: right;
}

.footer-col-center ul li {
	display: inline-block;
}

.footer-col-center ul li a {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
}

.footer-col-center ul li a:hover {
	color: #ae9e62;
}


/*каталог*/

.section-name {
	text-align: center;
	margin-bottom: 20px;
}

.select {
	display: none;
	width: 100%;
	text-align: center;
}

.select select {
	width: 70%;
	/* от ширины блока div */
	padding: .50rem 2.5rem .50rem 1rem;
	/* отступы от текста до рамки */
	background: none;
	/* убираем фон */
	border: 2px solid #004483;
	/* рамка */
	border-radius: 5px;
	/* скругление полей формы */
	-webkit-appearance: none;
	/* Chrome */
	-moz-appearance: none;
	/* Firefox */
	appearance: none;
	/* убираем дефолнтные стрелочки */
	font-family: inherit;
	/* наследует от родителя */
	font-size: 1rem;
	color: #444;
}

.product-nav {
	text-align: center;
	display: block;
}

.menu {
	width: 100%;
	display: inline-block;
}

.menu li {
	display: inline-block;
	margin-left: 10px;
}

.menu a {
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	display: block;
	line-height: 40px;
}

.menu a:hover {
	color: #ae9e62;
}

.menu li:last-child {
	margin-right: 0;
}


/*партнеры*/

.partners {
	text-align: center;
}

.partners ul li {
	width: 290px;
	margin: 5px;
	display: inline-block;
}



table{
width: 100%;
border-collapse:collapse;
border-spacing:0
}
table, td, th {
border: 1px solid #000;
}
td, th {
text-align: center;
padding: 3px;
width: 30px;
height: 35px;
}
th {
background-color: #004483;
color: #fff;
}

.price{
	margin-bottom:20px;
	margin-top:20px;
}
.price-name{
	margin:10px;
	text-align: center;
}

































@media (max-width: 768px) {
	/* показываем кнопку для переключения верхней навигации */
	.nav-toggle {
		display: block;
	}
	.select {
		display: block;
	}
	header {
		padding: 10px 0;
	}
	.product-nav {
		display: none;
	}
	/* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */
	#menu {
		max-height: 0;
		background: #004483;
		float: none;
		position: absolute;
		overflow: hidden;
		top: 61px;
		right: 0;
		left: 0;
		margin: 0;
		padding: 0;
		z-index: 3;
	}
	/* делаем элементы списка блочными, чтобы они располагались друг под другом */
	#menu li {
		display: block;
		text-align: center;
		border-bottom: 1px solid #fff;
		margin-right: 0;
	}
}
